:root {
  --color-primary: #dedede;
  --color-secondary: #ced0d0;
  --primary-text-color: #4a4a4a;
  --secondary-text-color: #1a1a1a;
  --color-text: #1a52a8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-size: 16px;
  padding: 25px 25px 0px 25px;
  background-color: var(--color-secondary);
  color: var(--primary-text-color);
}

header {
  position: sticky;
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 50px;
  padding: 10px 25px;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 50;
  background-color: var(--color-primary);
}

h1 {
  font-size: 2rem;
  color: var(--secondary-text-color);
}

h2,
h3 {
  color: var(--secondary-text-color);
  font-size: 2.5rem;
}

strong {
  color: var(--color-text);
  font-size: 2rem;
}

nav {
  margin-left: auto;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 25px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--primary-text-color);
}

.nav-link:focus {
  color: var(--color-text);
}

main {
  margin: 0px 100px;
}

.home {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 100px);
  gap: 25px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero-text button {
  width: fit-content;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  background-color: var(--color-text);
  color: var(--color-primary);
  font-size: 1.5rem;
  margin: 15px auto;
}

.img-wrapper {
  display: flex;
  justify-content: center;
}

.hero-image {
  max-width: 500px;
  height: auto;
  border-radius: 50%;
  filter: grayscale(50%) brightness(1.2) contrast(1.1) hue-rotate(180deg);
  object-fit: cover;
}


.home div {
  flex: 1;
}

.home div p {
  font-size: 1.5rem;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  margin: 70px auto;
}

.contact .contact-text {
  display: flex;
  gap: 25px;
  font-size: 1.5rem;
  align-items: center;
}

.contact-text div img {
  max-width: 400px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.contact-container {
  display: flex;
  gap: 25px;
  justify-content: center;
  text-align: center;
}

.contact-container div {
  flex: 1;
  background-color: var(--color-primary);
  border-radius: 150px;
  padding: 25px 15px;
  min-height: 150px;
  font-size: 1rem;
}

.contact-container div p strong {
  font-size: 1.2rem;
}

.contact .img-wrapper img {
    max-width: 600px;
    height: auto;
    border-radius: 50%;
    filter: grayscale(80%) contrast(2.1) hue-rotate(200deg);
}

.comment {
  font-style: italic;
  margin: 15px auto;
}

.center {
    text-align: center;
}

.center h3 {
    font-size: 2rem;
}

.center p strong {
    font-size: 1.5rem;
}

.center p {
    font-size: 1.2rem;
}
